.sidebar {
    width: 250px;
    height: 100vh;
    background-color: #f8f9fa;
    padding: 20px;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
  }
  
  .logo {
    font-size: 24px;
    font-weight: bold;
    padding-top: 37px;
    margin-bottom: 20px;
    color: #333;
  }
  
  .navList {
    list-style-type: none;
    padding: 0;
  }
  
  .navItem {
    display: flex;
    align-items: center;
    padding: 10px;
    color: #333;
    text-decoration: none;
    border-radius: 5px;
    margin-bottom: 5px;
    transition: background-color 0.3s ease;
  }
  
  .navItem:hover {
    background-color: #e9ecef;
  }
  
  .icon {
    margin-right: 10px;
    font-size: 18px;
  }
